html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#block{
  min-height: 650px;
  width: 750px;
  margin-right: auto;
  margin-left: auto;
 }

#blocktitre{
    background-color: #0d7580;
    width: 750px;
    height: 70px;
}

h1{
    color: #fff;
    font-size: 3em;
    font-family: 'Signika Negative' , helvetica, 'microsoft sans serif', arial,sans-serif;
    padding-top: 8px;
}

#block form{
             color: #43484C;
            font-size: 1.0em;
            padding-top: 60px;
       
}

#block form{
    padding-left: 125px;

}

#block form label{
            display:inline-block;
            width: 150px;  
            font-family: 'Signika Negative' , helvetica, 'microsoft sans serif', arial,sans-serif;   
}

#block form input {
  width: 190px;
   margin-left: 75px; 
}

#block form textarea {
    width: 190px;
   margin-left: 75px;
}

#block form select {
   width: 195px;
   margin-left: 75px;

}

#block form input:last-child{
  color: white;
  font-family: 'Signika Negative' , helvetica, 'microsoft sans serif', arial,sans-serif;
  margin-left: 400px; 
  padding:5px 20px; 
  background-color:#43484C; 
  border-radius:5px;
  width: 100px;
}

#block form input:last-child:hover{
      background-color: #ea5b1b;
      color: #43484C;

}

#detail{

    width: 750px;
    height: 150px;

    background-color: #ea5b1b;
    margin-top: 20px;
}
#detail p{
  padding-top: 5px;
  padding-left: 10px;
  color: white;
  font-family: 'Signika Negative' , helvetica, 'microsoft sans serif', arial,sans-serif;

}

#gestion h1{

color: #fff;
    font-size: 3em;
    font-family: 'Signika Negative' , helvetica, 'microsoft sans serif', arial,sans-serif;
    padding-top: 8px;

}

#gestion h2{

  color :#43484C;
  font-size: 2em;

  }

