


body
{

	background-color: white;
	background-attachment : scroll;
	font-family: Helvetica;
}

header
{
	width: auto;
}

#header
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	height: 300px;
}

#cssmenu {
  min-width: 800px;
  height: 27px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul li {
  float: left;
  margin: 0;
  padding: 0;
  background: transparent url('images/button.png') top left no-repeat;
}
#cssmenu ul li a {
/*  display: block;*/
  height: 27px;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Signika Negative', helvetica, 'microsoft sans serif', arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenu ul li a span {
  display: block;
  float: left;
  height: 22px;
  padding-top: 7px;
  padding-right: 35px;
  padding-left: 35px;
  background: transparent url('images/button.png') top right no-repeat;
  cursor: pointer;
}
/* AQUA HOVER */
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  background: transparent url('images/aqua.png') top left no-repeat;
  color: #FFFFFF;
}
#cssmenu ul li a:hover span,
#cssmenu ul li.active a span {
  background: transparent url('images/aqua.png') top right no-repeat;
}

#social
{
	width: 200px;
	height: 58px;
	margin-left: 650px;
	position: absolute;
	top: 87px;
}

#prep_logo
{
	width: 160px;
	height: 94px;
	position: absolute;
	top: 70px;
	margin-left: -223px;
}

.fb {
  display: inline-block;
  width: 58px;
  height: 58px;
  background: url('./images/fb_logo1.png');
}
.fb:hover {
background-image:url('images/fb_logo2.png');
}

.twitter {
  display: inline-block;
  width: 58px;
  height: 58px;
  background: url('./images/twitter_logo1.png');
}
.twitter:hover {
background-image:url('images/twitter_logo2.png');
}

.google {
  display: inline-block;
  width: 58px;
  height: 58px;
  background: url('./images/google_logo1.png');
}
.google:hover {
background-image:url('images/google_logo2.png');
}

#infos
{
	width: 996px;
	height: 707px;
	margin-right: auto;
	margin-left: auto;
}

#what
{
	background-color: #ea5b1b;
	width: 350px;
	height: 350px;
	padding: 30px;
	/*margin-left: 182px;*/
	font-family: 'Signika Negative', helvetica, 'microsoft sans serif', arial, sans-serif;
  	color: #FFFFFF;
  	font-size: 17px;
  	float: left;
}

#who
{
	background-color: #0d7580;
	width: 539px;
	height: 187px;
	padding: 19px;
	/*margin-right: -176px;*/
	font-family: 'Signika Negative', helvetica, 'microsoft sans serif', arial, sans-serif;
  	color: #303030;
  	font-size: 17px;
  	float: right;
}

#why
{
	background-color: #43484c;
	width: 519px;
	height: 147px;
	padding: 30px;
	/*margin-right: -178px;*/
	margin-top: 8px;
	padding-top: 0px;
	font-family: 'Signika Negative', helvetica, 'microsoft sans serif', arial, sans-serif;
	color: #FFFFFF;
	font-size: 17px;
	float: right;
}

#how
{
	background-color: #0d7580;
	width: 936px;
	height: 230px;
	padding: 30px;
	/*margin-left: 182px;*/
	margin-top: 6px;
	font-family: 'Signika Negative', helvetica, 'microsoft sans serif', arial, sans-serif;
  	color: #303030;
  	font-size: 17px;
  	float: left;
}



footer
{
  width: auto;
}

#footer
{
  background-color: #43484c;
  font-family: 'Signika Negative', helvetica, 'microsoft sans serif', arial, sans-serif;
    color: #FFFFFF;
    font-size: 15px;
  float: left;
  width: 100%;
  height: 138px;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  margin-left: -8px;
}

#footer p
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#banner
{
  background-color: #ea5b1b;
  width: 100%;
  height: 15px;
	position: absolute;
	margin-left: -20px;
	margin-top: -20px;
}